---
title: Bíblia BEREIA
---
<!DOCTYPE html>
<html land="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="description" content="Página inicial da BEI">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ './img/favicon.png' }}">
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
</head>

<body>

  <div id="app" class="wrapper">

    <header class="app-bar">
			<div class="content d-flex justify-between align-items-center">
				<div class="d-flex align-items-center" style="gap:16px;">
					<img src="{{ '/img/logo.png' | url }}" style="width:34px; height: 34px;">
					<h1><a href="{{ '/' | url }}">Bíblia BEREIA</a></h1>
				</div>

				<nav class="main-nav">
					<ul>
						<li><a href="{{ '/sobre/' | url }}">Info</a></li>
						<li><a href="{{ '/mateus/1/' | url }}">Bíblia de Estudo</a></li>
						<li><a href="{{ '/interlinear/mateus/01/' | url }}">Interlinear</a></li>
					</ul>
				</nav>
			</div>
    </header>

    <main class="home main-content">
      <div class="content">

        {% block content %}
          {{ content }}
        {% endblock %}

      </div>
    </main>

  </div>

</body>
</html>