{% assign chapterNum = 1 %}
{% if bookChapter > 1 %}
{% assign chapterNum = bookChapter %}
{% endif %}

<div id="movebox2" class="page-header">

	<a href="{{ '/interlinear/' | url }}{{ bookAbbr | downcase }}/{{ chapterNum | minus: 1 }}/"
		title="{{ bookName }} {{ bookChapter | minus: 1 }}">◄</a>

	<h3>{{bookName}} {{bookChapter}}</h3>

	<a href="{{ '/interlinear/' | url }}{{ bookAbbr | downcase }}/{{ chapterNum | plus: 1 }}/"
		title="{{ bookName }} {{ bookChapter | plus: 1 }}">►</a>

</div>