<div id="movebox2" class="page-header">

	<a href="{{ '/interlinear/' | url }}{{ bookName | downcase }}/{% if bookChapter > 1 %}{{ bookChapter | minus: 1 }}{% else %}1/#{% endif %}"
		title="{{ bookName }} {{ bookChapter | minus: 1 }}">◄</a>

	<h3>{{bookName}} {{bookChapter}}</h3>

	<a href="{{ '/interlinear/' | url }}{{ bookName | downcase }}/{{ bookChapter | plus: 1 }}"
		title="{{ bookName }} {{ bookChapter | plus: 1 }}">►</a>

</div>