<div id="left">
	<a href="{{ '/nt/' | url }}{{ theBookName | downcase }}/{% if theBookChapter > 1 %}{% if theBookChapter <= 9 %}0{% endif %}{{ theBookChapter | minus: 1 }}{% else %}01/#{% endif %}"
		title="{{ theBookName }} {{ theBookChapter | minus: 1 }}">
		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24">
			<path id="seta-esquerda" data-name="seta-esquerda"
				d="M10.481,1.772a2,2,0,0,1,3.037,0L21.17,10.7A2,2,0,0,1,19.652,14H4.348A2,2,0,0,1,2.83,10.7Z"
				transform="translate(0 24) rotate(270)" fill="#ddd" />
		</svg>
	</a>
</div>

<div id="right">
	<a href="{{ '/nt/' | url }}{{ theBookName | downcase }}/{% if theBookChapter <= 9 %}0{% endif %}{{ theBookChapter | plus: 1 }}"
		title="{{ theBookName }} {{ theBookChapter | plus: 1 }}">
		<svg xmlns="http://www.w3.org/2000/svg" width="14" height="24" viewBox="0 0 14 24">
			<path id="seta-direita" data-name="seta-direita"
				d="M10.481,1.772a2,2,0,0,1,3.037,0L21.17,10.7A2,2,0,0,1,19.652,14H4.348A2,2,0,0,1,2.83,10.7Z"
				transform="translate(14) rotate(90)" fill="#ddd" />
		</svg>
	</a>
</div>

<div id="botright">
	<a href="#" title="Ir para o topo">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="14" viewBox="0 0 24 14">
			<path id="seta-acima" data-name="seta-acima"
				d="M10.481,1.772a2,2,0,0,1,3.037,0L21.17,10.7A2,2,0,0,1,19.652,14H4.348A2,2,0,0,1,2.83,10.7Z"
				transform="translate(0) rotate(0)" fill="#ddd" />
		</svg>
	</a>
</div>