<header class="app-bar">
	<div class="content d-flex justify-between align-items-center">
		<div class="d-flex align-items-center" style="gap:16px;">
			<img src="{{ '/img/logo.png' | url }}" style="width:34px; height: 34px;">
			<h1><a href="{{ '/' | url }}">Bíblia BEREIA</a></h1>
		</div>

		<button type="button" id="toggleMenu">
			<div class="burger-icon">
				<div class="burger-layer"></div>
				<div class="burger-layer"></div>
				<div class="burger-layer"></div>
			</div>
		</button>

		<nav class="main-nav">
			<ul>
				<li><a href="{{ '/mateus/1/' | url }}">Bíblia de Estudo</a></li>
				<li><a href="{{ '/interlinear/mateus/01/' | url }}">Interlinear</a></li>
				<li><a href="{{ '/sobre/' | url }}">Sobre</a></li>
			</ul>
		</nav>
	</div>
</header>