---
title: Bíblia BEREIA
description: ...
layout: base.liquid
the_book.chapters: 27
---

<h2>BEREIA - Bíblia de Estudo com Recursos Exegéticos e Interlinear Analítico</h2>

<p>Este recurso apresenta os textos gregos do Antigo e do Novo Testamento (<a href="{{ '/sobre/' | url }}">LXX e TM</a>, respectivamente), juntamente com uma tradução de cada termo, palavra por palavra, além de números Strong que levam a definições mais extensas das palavras. Assim é possível ter acesso aos textos originais, assim como uma tradução literal de cada palavra.</p>

<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 40px">

	<div class="book-lists">
		<h3>O Antigo Testamento grego (LXX):</h3>

		<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 32px">
			<div id="pentateuco">
				<h4 class="book-group">Pentateuco</h4>
				<ul>
					<li><a href="{{ '/at/genesis/1/' | url }}">Gênesis</a></li>
					<li><a href="{{ '/at/exodo/1/' | url }}">Êxodo</a></li>
					<li><a href="{{ '/at/levitico/1/' | url }}">Levítico</a></li>
					<li><a href="{{ '/at/numeros/1/' | url }}">Números</a></li>
					<li><a href="{{ '/at/deuteronomio/1/' | url }}">Deuteronômio</a></li>
				</ul>
			</div>
			<div id="historicos">
				<h4 class="book-group">Históricos</h4>
				<ul>
					<li><a href="{{ '/at/josue/1/' | url }}">Josué</a></li>
					<li><a href="{{ '/at/juizes/1/' | url }}">Juízes</a></li>
					<li><a href="{{ '/at/rute/1/' | url }}">Rute</a></li>
					<li><a href="{{ '/at/1_samuel/1/' | url }}">I Samuel</a></li>
					<li><a href="{{ '/at/2_samuel/1/' | url }}">II Samuel</a></li>
					<li><a href="{{ '/at/1_reis/1/' | url }}">I Reis</a></li>
					<li><a href="{{ '/at/2_reis/1/' | url }}">II Reis</a></li>
					<li><a href="{{ '/at/1_cronicas/1/' | url }}">I Crônicas</a></li>
					<li><a href="{{ '/at/2_cronicas/1/' | url }}">II Crônicas</a></li>
					<li><a href="{{ '/at/esdras/1/' | url }}">Esdras</a></li>
					<li><a href="{{ '/at/neemias/1/' | url }}">Neemias</a></li>
					<li><a href="{{ '/at/ester/1/' | url }}">Ester</a></li>
				</ul>
			</div>
			<div id="poeticos">
				<h4 class="book-group">Poéticos</h4>
				<ul>
					<li><a href="{{ '/at/jo/1/' | url }}">Jó</a></li>
					<li><a href="{{ '/at/salmos/1/' | url }}">Salmos</a></li>
					<li><a href="{{ '/at/proverbios/1/' | url }}">Provérbios</a></li>
					<li><a href="{{ '/at/eclesiastes/1/' | url }}">Eclesiastes</a></li>
					<li><a href="{{ '/at/cantares/1/' | url }}">Cantares</a></li>
				</ul>
			</div>
			<div id="profeticos">
				<h4 class="book-group">Proféticos</h4>
				<ul>
					<li><a href="{{ '/at/isaias/1/' | url }}">Isaías</a></li>
					<li><a href="{{ '/at/jeremias/1/' | url }}">Jeremias</a></li>
					<li><a href="{{ '/at/lamentacoes/1/' | url }}">Lamentações</a></li>
					<li><a href="{{ '/at/ezequiel/1/' | url }}">Ezequiel</a></li>
					<li><a href="{{ '/at/daniel/1/' | url }}">Daniel</a></li>
					<li><a href="{{ '/at/oseias/1/' | url }}">Oséias</a></li>
					<li><a href="{{ '/at/joel/1/' | url }}">Joel</a></li>
					<li><a href="{{ '/at/amos/1/' | url }}">Amós</a></li>
					<li><a href="{{ '/at/obadias/1/' | url }}">Obadias</a></li>
					<li><a href="{{ '/at/jonas/1/' | url }}">Jonas</a></li>
					<li><a href="{{ '/at/miqueias/1/' | url }}">Miquéias</a></li>
					<li><a href="{{ '/at/naum/1/' | url }}">Naum</a></li>
					<li><a href="{{ '/at/habacuque/1/' | url }}">Habacuque</a></li>
					<li><a href="{{ '/at/sofonias/1/' | url }}">Sofonias</a></li>
					<li><a href="{{ '/at/ageu/1/' | url }}">Ageu</a></li>
					<li><a href="{{ '/at/zacarias/1/' | url }}">Zacarias</a></li>
					<li><a href="{{ '/at/malaquias/1/' | url }}">Malaquias</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="book-lists">
		<h3>O Novo Testamento (em ordem cronológica*):</h3>

		<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 32px">
			<div>
				<h4 class="book-group">3 a.C. – 30 d.C.</h4>
				<ul>
					<li><a href="{{ '/nt/mateus/01/' | url }}">O Evangelho de Mateus</a></li>
					<li><a href="{{ '/nt/marcos/01/' | url }}">O Evangelho de Marcos</a></li>
					<li><a href="{{ '/nt/lucas/01/' | url }}">O Evangelho de Lucas</a></li>
					<li><a href="{{ '/nt/joao/01/' | url }}">O Evangelho de João</a></li>
					<li><a href="{{ '/nt/atos/01/' | url }}">Os Atos dos Apóstolos</a></li>
				</ul>
			</div>
				
			<div>
				<h4 class="book-group">45 d.C. – 67 d.C.</h4>
				<ul>
					<li><a href="{{ '/nt/tiago/01/' | url }}">Epístola de Tiago</a></li>
					<li><a href="{{ '/nt/galatas/01/' | url }}">Epístola de Paulo aos Gálatas</a></li>
					<li><a href="{{ '/nt/1_tessalonicenses/01/' | url }}">1ª ep. de Paulo aos Tessalonicenses</a></li>
					<li><a href="{{ '/nt/2_tessalonicenses/01/' | url }}">2ª ep. de Paulo aos Tessalonicenses</a></li>
					<li><a href="{{ '/nt/1_corintios/01/' | url }}">1ª ep. de Paulo aos Coríntios</a></li>
					<li><a href="{{ '/nt/2_corintios/01/' | url }}">2ª ep. de Paulo aos Coríntios</a></li>
					<li><a href="{{ '/nt/romanos/01/' | url }}">Epístola de Paulo aos Romanos</a></li>
					<li><a href="{{ '/nt/efesios/01/' | url }}">Epístola de Paulo aos Efésios</a></li>
					<li><a href="{{ '/nt/filipensens/01/' | url }}">Epístola de Paulo aos Filipenses</a></li>
					<li><a href="{{ '/nt/colossenses/01/' | url }}">Epístola de Paulo aos Colossenses</a></li>
					<li><a href="{{ '/nt/filemon/01/' | url }}">Epístola de Paulo a Filemon</a></li>
					<li><a href="{{ '/nt/1_timoteo/01/' | url }}">1ª ep. de Paulo a Timóteo</a></li>
					<li><a href="{{ '/nt/tito/01/' | url }}">Epístola de Paulo a Tito</a></li>
					<li><a href="{{ '/nt/2_timoteo/01/' | url }}">2ª ep. de Paulo a Timóteo</a></li>
					<li><a href="{{ '/nt/1_pedro/01/' | url }}">1ª ep. de Pedro</a></li>
					<li><a href="{{ '/nt/2_pedro/01/' | url }}">2ª ep. de Pedro</a></li>
					<li><a href="{{ '/nt/hebreus/01/' | url }}">Carta aos Hebreus</a></li>
				</ul>
			</div>
				
			<div>
				<h4 class="book-group">80 d.C. – 95 d.C.</h4>
				<ul>
					<li><a href="{{ '/nt/judas/01/' | url }}">Epístola de Judas</a></li>
					<li><a href="{{ '/nt/1_joao/01/' | url }}">1ª ep. de João</a></li>
					<li><a href="{{ '/nt/2_joao/01/' | url }}">2ª ep. de João</a></li>
					<li><a href="{{ '/nt/3_joao/01/' | url }}">3ª ep. de João</a></li>
					<li><a href="{{ '/nt/apocalipse/01/' | url }}">O Apocalipse</a></li>
				</ul>
			</div>

		</div>
		<p style="line-height:1"><small><em>* As datas se referem aos acontecimentos e à possível redação, respectivamente.</em></small></p>
	</div>


</div>
