---
title: Bíblia de Estudo Interlinear
description: ...
layout: base.liquid
the_book.chapters: 27
---

<h1>O Novo Testamento Interlinear</h1>

<p>Bem vindo ao Novo Testamento interlinear online. Através desta ferramenta você tem acesso ao texto original do Novo Testamento, tendo a possibilidade de conhecer as palavras originais em grego, assim como uma tradução de cada palavra e outras possíveis traduções.</p>

<p>Cremos que a Bíblia é a Palavra de Deus que não erra, mas isso diz respeito ao texto original. Qualquer tradução das escrituras corre o risco de ser enviesada e falha.</p>

<p>O grego <em>koiné</em> (o tipo de grego usado no NT) é muito rico, e muitas vezes a tradução faz perder o sentido mais específico de cada palavra. Tendo acesso ao texto original inerrante, e conhecendo a tradução de cada palavra te dá o poder de compreender com mais profundidade as Escrituras.</p>

<p>O texto grego adotado nesta versão interlinear é o da Família 35, um texto colado pelo Dr. William Pickering. Para ter um embasamento para o uso desta versão, acesse o <a href="https://www.prunch.com.br/">website do Dr. Pickering</a>.</p>

<h2>Os livros do Novo Testamento dispostos em ordem cronológica:</h2>

<p>As datas se referem aos acontecimentos e à possível redação, respectivamente.</p>

<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 60px">
  <div>
    <div><a href="{{ '/nt/mateus/01/' | url }}">O Evangelho segundo Mateus</a></div>
    <div><a href="{{ '/nt/marcos/01/' | url }}">O Evangelho segundo Marcos</a></div>
    <div><a href="{{ '/nt/lucas/01/' | url }}">O Evangelho segundo Lucas</a></div>
    <div><a href="{{ '/nt/joao/01/' | url }}">O Evangelho segundo João</a></div>
    <div><a href="{{ '/nt/atos/01/' | url }}">Os Atos dos Apóstolos</a></div>
  </div>
    
  <div>
    <div><a href="{{ '/nt/tiago/01/' | url }}">Epístola de Tiago</a></div>
    <div><a href="{{ '/nt/galatas/01/' | url }}">Epístola de Paulo aos Gálatas</a></div>
    <div><a href="{{ '/nt/1_tessalonicenses/01/' | url }}">1ª epístola de Paulo aos Tessalonicenses</a></div>
    <div><a href="{{ '/nt/2_tessalonicenses/01/' | url }}">2ª epístola de Paulo aos Tessalonicenses</a></div>
    <div><a href="{{ '/nt/1_corintios/01/' | url }}">1ª epístola de Paulo aos Coríntios</a></div>
    <div><a href="{{ '/nt/2_corintios/01/' | url }}">2ª epístola de Paulo aos Coríntios</a></div>
    <div><a href="{{ '/nt/romanos/01/' | url }}">Epístola de Paulo aos Romanos</a></div>
    <div><a href="{{ '/nt/efesios/01/' | url }}">Epístola de Paulo aos Efésios</a></div>
    <div><a href="{{ '/nt/filipensens/01/' | url }}">Epístola de Paulo aos Filipenses</a></div>
    <div><a href="{{ '/nt/colossenses/01/' | url }}">Epístola de Paulo aos Colossenses</a></div>
    <div><a href="{{ '/nt/filemon/01/' | url }}">Epístola de Paulo a Filemon</a></div>
    <div><a href="{{ '/nt/1_timoteo/01/' | url }}">1ª epístola de Paulo a Timóteo</a></div>
    <div><a href="{{ '/nt/tito/01/' | url }}">Epístola de Paulo a Tito</a></div>
    <div><a href="{{ '/nt/2_timoteo/01/' | url }}">2ª epístola de Paulo a Timóteo</a></div>
  </div>
    
  <div>
    <div><a href="{{ '/nt/1_pedro/01/' | url }}">1ª epístola de Pedro</a></div>
    <div><a href="{{ '/nt/2_pedro/01/' | url }}">2ª epístola de Pedro</a></div>
    <div><a href="{{ '/nt/hebreus/01/' | url }}">Carta aos Hebreus</a></div>
    <div><a href="{{ '/nt/judas/01/' | url }}">Epístola de Judas</a></div>
    <div><a href="{{ '/nt/1_joao/01/' | url }}">1ª epístola de João</a></div>
    <div><a href="{{ '/nt/2_joao/01/' | url }}">2ª epístola de João</a></div>
    <div><a href="{{ '/nt/3_joao/01/' | url }}">3ª epístola de João</a></div>
    <div></div>
    <div></div>
  </div>

  <div>
    <div><a href="{{ '/nt/apocalipse/01/' | url }}">O Apocalipse</a></div>
  </div>

</div>