---
title: Bíblia BEREIA
description: ...
layout: base.liquid
the_book.chapters: 27
---

<h2>BEREIA - Bíblia de Estudo com Recursos Exegéticos e Interlinear Analítico</h2>

<p>Uma Bíblia de estudo online com foco na exegese (interpretação) bíblica. O propósito desta ferramenta é capacitar o maior número de pessoas a ter acesso aos textos originais das Escrituras, compreender melhor o sentido das palavras originalmente escritas pelos autores inspirados e prover subsídios para uma correta e embasada interpretação do texto sagrado. A BEREIA é composta por dois recursos:</p>

<h3>Novo Testamento de Estudo com Recursos Exegéticos</h3>

<p>Uma nova tradução, baseada diretamente do <a href="{{ '/sobre/' | url }}">Texto Majoritário (TM)</a> grego, buscando, em primeiro lugar, refletir ao máximo o texto original, além de prover comentários e notas de cunho linguístico, cultural e histórico.</p>

<p>A tradução do Novo Testamento tem por princípio a literalidade, mantendo o quanto possível a consistência da tradução de termos, a classe gramatical e os tempos e vozes verbais, objetivando ao leitor de língua portuguesa uma maior aproximação ao original. Para uma melhor compreensão do texto, notas apresentam traduções dinâmicas, especialmente em casos de expressões idiomáticas que, lidas de forma literal, podem ter pouco ou nenhum sentido a quem lê.</p>

<p><em>Inicialmente, somente o Novo Testamento está disponível. Para o futuro, espera-se também uma tradução do Antigo Testamento diretamente do texto grego, com notas sobre as diferenças em relação ao texto hebraico massorético.</em></p>

<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 40px">
	<div class="book-lists">
		<h3>O Novo Testamento (em ordem cronológica*)</h3>

		<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 32px">
			<div>
				<h4 class="book-group">3 a.C. – 30 d.C.</h4>
				<ul>
					<li><a href="{{ '/biblia/mateus/1/' | url }}">O Evangelho de Mateus</a></li>
				</ul>
				<p style="line-height:1"><small><em>* As datas se referem aos acontecimentos e à possível redação, respectivamente.</em></small></p>
			</div>
		</div>
	</div>
</div>

<h3>Bíblia Interlinear Analítico</h3>

<p>Este recurso apresenta os textos gregos do Antigo e do Novo Testamento (<a href="{{ '/sobre/' | url }}">LXX e TM</a>, respectivamente). O texto é apresentado de forma interlinear, com os termos gregos em destaque e ao seu redor a transliteração, tradução e análise gramatical de cada um. Além disso, <a href="https://pt.wikipedia.org/wiki/Concord%C3%A2ncia_de_Strong" target="_blank">números de Strong</a> levam a definições mais completas.</p>

<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 40px">

	<div class="book-lists">
		<h3>O Antigo Testamento grego (LXX)</h3>

		<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 32px">
			<div id="pentateuco">
				<h4 class="book-group">Pentateuco</h4>
				<ul>
					<li><a href="{{ '/interlinear/at/genesis/1/' | url }}">Gênesis</a></li>
					<li><a href="{{ '/interlinear/at/exodo/1/' | url }}">Êxodo</a></li>
					<li><a href="{{ '/interlinear/at/levitico/1/' | url }}">Levítico</a></li>
					<li><a href="{{ '/interlinear/at/numeros/1/' | url }}">Números</a></li>
					<li><a href="{{ '/interlinear/at/deuteronomio/1/' | url }}">Deuteronômio</a></li>
				</ul>
			</div>
			<div id="historicos">
				<h4 class="book-group">Históricos</h4>
				<ul>
					<li><a href="{{ '/interlinear/at/josue/1/' | url }}">Josué</a></li>
					<li><a href="{{ '/interlinear/at/juizes/1/' | url }}">Juízes</a></li>
					<li><a href="{{ '/interlinear/at/rute/1/' | url }}">Rute</a></li>
					<li><a href="{{ '/interlinear/at/1_samuel/1/' | url }}">I Samuel</a></li>
					<li><a href="{{ '/interlinear/at/2_samuel/1/' | url }}">II Samuel</a></li>
					<li><a href="{{ '/interlinear/at/1_reis/1/' | url }}">I Reis</a></li>
					<li><a href="{{ '/interlinear/at/2_reis/1/' | url }}">II Reis</a></li>
					<li><a href="{{ '/interlinear/at/1_cronicas/1/' | url }}">I Crônicas</a></li>
					<li><a href="{{ '/interlinear/at/2_cronicas/1/' | url }}">II Crônicas</a></li>
					<li><a href="{{ '/interlinear/at/esdras/1/' | url }}">Esdras</a></li>
					<li><a href="{{ '/interlinear/at/neemias/1/' | url }}">Neemias</a></li>
					<li><a href="{{ '/interlinear/at/ester/1/' | url }}">Ester</a></li>
				</ul>
			</div>
			<div id="poeticos">
				<h4 class="book-group">Poéticos</h4>
				<ul>
					<li><a href="{{ '/interlinear/at/jo/1/' | url }}">Jó</a></li>
					<li><a href="{{ '/interlinear/at/salmos/1/' | url }}">Salmos</a></li>
					<li><a href="{{ '/interlinear/at/proverbios/1/' | url }}">Provérbios</a></li>
					<li><a href="{{ '/interlinear/at/eclesiastes/1/' | url }}">Eclesiastes</a></li>
					<li><a href="{{ '/interlinear/at/cantares/1/' | url }}">Cantares</a></li>
				</ul>
			</div>
			<div id="profeticos">
				<h4 class="book-group">Proféticos</h4>
				<ul>
					<li><a href="{{ '/interlinear/at/isaias/1/' | url }}">Isaías</a></li>
					<li><a href="{{ '/interlinear/at/jeremias/1/' | url }}">Jeremias</a></li>
					<li><a href="{{ '/interlinear/at/lamentacoes/1/' | url }}">Lamentações</a></li>
					<li><a href="{{ '/interlinear/at/ezequiel/1/' | url }}">Ezequiel</a></li>
					<li><a href="{{ '/interlinear/at/daniel/1/' | url }}">Daniel</a></li>
					<li><a href="{{ '/interlinear/at/oseias/1/' | url }}">Oséias</a></li>
					<li><a href="{{ '/interlinear/at/joel/1/' | url }}">Joel</a></li>
					<li><a href="{{ '/interlinear/at/amos/1/' | url }}">Amós</a></li>
					<li><a href="{{ '/interlinear/at/obadias/1/' | url }}">Obadias</a></li>
					<li><a href="{{ '/interlinear/at/jonas/1/' | url }}">Jonas</a></li>
					<li><a href="{{ '/interlinear/at/miqueias/1/' | url }}">Miquéias</a></li>
					<li><a href="{{ '/interlinear/at/naum/1/' | url }}">Naum</a></li>
					<li><a href="{{ '/interlinear/at/habacuque/1/' | url }}">Habacuque</a></li>
					<li><a href="{{ '/interlinear/at/sofonias/1/' | url }}">Sofonias</a></li>
					<li><a href="{{ '/interlinear/at/ageu/1/' | url }}">Ageu</a></li>
					<li><a href="{{ '/interlinear/at/zacarias/1/' | url }}">Zacarias</a></li>
					<li><a href="{{ '/interlinear/at/malaquias/1/' | url }}">Malaquias</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="book-lists">
		<h3>O Novo Testamento grego (TM)</h3>

		<div class="d-flex justify-content-between flex-wrap" style="gap: 12px 32px">
			<div>
				<h4 class="book-group">3 a.C. – 30 d.C.</h4>
				<ul>
					<li><a href="{{ '/interlinear/mateus/1/' | url }}">O Evangelho de Mateus</a></li>
					<li><a href="{{ '/interlinear/marcos/1/' | url }}">O Evangelho de Marcos</a></li>
					<li><a href="{{ '/interlinear/lucas/1/' | url }}">O Evangelho de Lucas</a></li>
					<li><a href="{{ '/interlinear/joao/1/' | url }}">O Evangelho de João</a></li>
					<li><a href="{{ '/interlinear/atos/1/' | url }}">Os Atos dos Apóstolos</a></li>
				</ul>
			</div>
				
			<div>
				<h4 class="book-group">45 d.C. – 67 d.C.</h4>
				<ul>
					<li><a href="{{ '/interlinear/tiago/1/' | url }}">Epístola de Tiago</a></li>
					<li><a href="{{ '/interlinear/galatas/1/' | url }}">Epístola de Paulo aos Gálatas</a></li>
					<li><a href="{{ '/interlinear/1_tessalonicenses/1/' | url }}">1ª ep. de Paulo aos Tessalonicenses</a></li>
					<li><a href="{{ '/interlinear/2_tessalonicenses/1/' | url }}">2ª ep. de Paulo aos Tessalonicenses</a></li>
					<li><a href="{{ '/interlinear/1_corintios/1/' | url }}">1ª ep. de Paulo aos Coríntios</a></li>
					<li><a href="{{ '/interlinear/2_corintios/1/' | url }}">2ª ep. de Paulo aos Coríntios</a></li>
					<li><a href="{{ '/interlinear/romanos/1/' | url }}">Epístola de Paulo aos Romanos</a></li>
					<li><a href="{{ '/interlinear/efesios/1/' | url }}">Epístola de Paulo aos Efésios</a></li>
					<li><a href="{{ '/interlinear/filipensens/1/' | url }}">Epístola de Paulo aos Filipenses</a></li>
					<li><a href="{{ '/interlinear/colossenses/1/' | url }}">Epístola de Paulo aos Colossenses</a></li>
					<li><a href="{{ '/interlinear/filemon/1/' | url }}">Epístola de Paulo a Filemon</a></li>
					<li><a href="{{ '/interlinear/1_timoteo/1/' | url }}">1ª ep. de Paulo a Timóteo</a></li>
					<li><a href="{{ '/interlinear/tito/1/' | url }}">Epístola de Paulo a Tito</a></li>
					<li><a href="{{ '/interlinear/2_timoteo/1/' | url }}">2ª ep. de Paulo a Timóteo</a></li>
					<li><a href="{{ '/interlinear/1_pedro/1/' | url }}">1ª ep. de Pedro</a></li>
					<li><a href="{{ '/interlinear/2_pedro/1/' | url }}">2ª ep. de Pedro</a></li>
					<li><a href="{{ '/interlinear/hebreus/1/' | url }}">Carta aos Hebreus</a></li>
				</ul>
			</div>
				
			<div>
				<h4 class="book-group">80 d.C. – 95 d.C.</h4>
				<ul>
					<li><a href="{{ '/interlinear/judas/1/' | url }}">Epístola de Judas</a></li>
					<li><a href="{{ '/interlinear/1_joao/1/' | url }}">1ª ep. de João</a></li>
					<li><a href="{{ '/interlinear/2_joao/1/' | url }}">2ª ep. de João</a></li>
					<li><a href="{{ '/interlinear/3_joao/1/' | url }}">3ª ep. de João</a></li>
					<li><a href="{{ '/interlinear/apocalipse/1/' | url }}">O Apocalipse</a></li>
				</ul>
			</div>

		</div>
		<p></p>
	</div>


</div>
